:root {
  --background-color: #ffffff;
  --color-all-text: #292929;
  --color-down: #868686;
}
body {
  background-color: var(--background-color);
  color: var(--color-all-text);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.4;
}
h1,h2,h3,h4,h5,h6,p{
  margin-bottom: 0;
  margin-top: 0;
}
h2 {
  font-size: 24px;
  line-height: 1.04;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}
img{
  display: block;
}
.container {
  width: 680px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.button {
  color: inherit;
}
.header{
  padding-bottom: 10px;
  padding-top: 60px;
}
.header-row{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* outline: 1px solid #d93232; */
}
.header-tel {
  color: inherit;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.21;
}
.header-text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 8px;
}
.header-wrapper{
  width: 300px;
}
.greetings-title,
.greetings-subtitle {
  font-size: 24px;
  line-height: 1.42;
}
.greetings-title{
  margin-bottom: 20px;
}
.greetings-subtitle{
  margin-bottom: 20px;
}
.greetings-text{
  margin-bottom: 40px;
}
.footer-unsub {
  color: #868686;
  font-size: 15px;
  line-height: 1.67;
}

