:root {
  --background-color: #ffffff;
  --color-all-text: #292929;
  --color-down: #868686;
  --color-border: #000000;
  --color-hover:#f5f5f5;
  --timing-function:cubic-bezier(0.4,0,0.2,1);
}
body {
  background-color: var(--background-color);
  color: var(--color-all-text);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.4;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}
h2 {
  font-size: 24px;
  line-height: 1.04;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}
img {
  display: block;
}
.container {
  width: 680px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.button {
  color: inherit;
  border: 1px solid var(--color-border);
  border-radius: 12px;
  transition: background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
.button:hover,
.button:focus{
  background-color: var(--color-hover);
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header {
  padding-bottom: 10px;
  padding-top: 60px;
}
.header-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header-tel {
  color: inherit;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.21;
}
.header-text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 8px;
}
.header-wrapper {
  width: 300px;
}
.greetings-title,
.greetings-subtitle {
  font-size: 24px;
  line-height: 1.42;
}
.greetings-title {
  margin-bottom: 20px;
}
.greetings-subtitle {
  margin-bottom: 20px;
}
.greetings-text {
  margin-bottom: 40px;
}
.greetings-img {
  margin-bottom: 20px;
}
.btn-greetings {
  display: inline-flex;
  padding-top: 21px;
  padding-bottom: 21px;
  width: 640px;
  align-items: center;
 justify-content: center;
}
.works {
  padding-top: 40px;
}
.works-title {
  margin-bottom: 40px;
}
.works-list {
  display: flex;
  gap: 11px;
}
.works-img {
  border-radius: 20px;
}
.advantages {
  padding-top: 40px;
}
.advantages-list {
  padding-left: 20px;
  margin-bottom: 40px;
}
.advantages-text {
  margin-bottom: 12px;
}
.more {
  padding-top: 40px;
}
.more-text {
  margin-bottom: 20px;
}
.more-end {
  margin-bottom: 40px;
}
.footer {
  padding-top: 40px;
  padding-bottom: 53px;
  text-align: center;
}
.footer-img {
  margin-bottom: 20px;
}
.footer-two {
  display: flex;
  gap: 10px;
  width: 640px;
  margin-bottom: 20px;
}
.footer-btn {
  /* display: inline-block; */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 21px;
  padding-top: 21px;
  flex-basis: calc((100%-10px) / 2);
}
.footer-unsub {
  color: #868686;
  font-size: 15px;
  line-height: 1.67;
}
.footer-unsub:hover,
.footer-unsub:focus{
  color: var(--color-all-text);
}
.instagram::before{
  content: '';
 margin-right: 10px;
  width: 32px;
  height: 32px;
  background-image: url(../images/instagram.svg);
}
